@model IEnumerable<FWPS.Models.LightItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table">
    <thead>
    <tr>
	    <th>
			@Html.DisplayNameFor(model => model.Id)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.CreatedDate)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.LastModifiedDate)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Command)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.IsRun)
	    </th>
	    <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Id)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.CreatedDate)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.LastModifiedDate)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Command)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.IsRun)
		</td>
	</tr>
}
    </tbody>
</table>
